extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Buy Ticket
    #main
        div
            a.button.btn.btn-primary(href='/confirmPurchase') Cash
            a.button.btn.btn-primary(href='/confirmPurchase') Credit Card
            a.button.btn.btn-primary(href='/confirmPurchase') Debit Card     
            a.button.btn.btn-primary(href='/confirmPurchase') Mobile     
            a.button.btn.btn-primary(href='/confirmPurchase') Online Transfers     
            