extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Buy Ticket
    #main
        div
            p Thank you for purchasing a ticket.
            a.btn.btn-primary(href='/') Home